[Unit]
Description=zcloud rclone mount {{item}}

[Service]
Type=simple
ExecStartPre=mkdir -p "%h/zcloud/{{item}}"
ExecStart=/usr/bin/env rclone -v mount
{%- if item == "s3" %} --rc s3:zcloud.lpenz.org
{%- else %} {{item}}:zcloud
{%- endif %} "%h/zcloud/{{item}}" --vfs-cache-mode=full

[Install]
WantedBy=default.target

