[Unit]
Description=clipinfo-primary
BindTo=%u-x-wm.service
After=%u-x-wm.service

[Service]
ExecStart=%h/bin/clipinfo.py -m 79 -c -b -o %h/.selection_primary.txt

[Install]
WantedBy=%u-x-wm.service
