[Unit]
Description=myroottail
BindTo=%u-x-wm.service
After=%u-x-wm.service

[Service]
ExecStart=%h/bin/myroottail

[Install]
WantedBy=%u-x-wm.service
