[Unit]
Description=xscreensaver
BindTo=%u-x-wm.service
After=%u-x-wm.service

[Service]
ExecStart=xscreensaver -verbose

[Install]
WantedBy=%u-x-wm.service
