[Unit]
Description=zcloud rclone mount
After=network.target

[Service]
Type=simple
User={{ ansible_ssh_user }}
ExecStart=/usr/bin/env rclone -v mount box:zcloud /home/{{ ansible_ssh_user }}/zcloud --vfs-cache-mode=full 

[Install]
WantedBy=multi-user.target

